body {
    font-family: 'Montserrat', sans-serif;
   
}
html{
    scroll-behavior: smooth;
  }
h1, h2, h3, h4, h5,h6 {
   
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.nav{
    left: 0;
    top: 0px;
}
.nav-search-btn {
    background-color: #fc0505 !important;
    color: #ffffff !important;
    font-weight: 500;
    border: none;
}

.nav-search-btn:hover {
    background-color: white !important;
    color: #fc0505 !important;
    font-weight: 500;
    border: 2px solid #1a010169;
}

.nav-item {
    color: #000000 !important;
}

.nav-item a {
    font-size: 1rem;
    font-weight: 400;
    color: #000000 !important;
}

.nav-item2 a:hover{
    color: #ff0202 !important;
    /* font-weight:500; */

}
.nav-item:hover{
    color: #e6e5e5 !important;
}
.nav-item a::after{
    content: "";
    height: 2px;
    background-color: #fc0505 !important;
    display: block;
    width: 0%;
    left: 0;
    bottom: -10px;
    border-radius: 2px;
    transition: all .1s;
}

.nav-item a:hover::after{
    width: 100%;
}

.ball:hover{
    color: #ccc !important;
}

footer {
    background-color: #f8f9fa;
    color: #333;
    padding: 30px 0;
  }

  /* Center the logo */
  .footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  /* Style for the footer links */
  .footer-links {
    list-style: none;
    padding-left: 0;
  }

  .footer-links li {
    margin-bottom: 10px;
  }

  .footer-links a {
    color: #333 !important;
    text-decoration: none;
  }

  .footer-links a:hover {
    color:#fc0505 !important;
  }




_____________________________________________________
.text-div p{
    font-weight: 500;

}


@media only screen and (max-width: 600px) {
    .img-div img{
        width: 80%;
        height: 50%;
        justify-content: center;
        align-items: center;
    }
    .icons-div{
        width:70% ;
        justify-content: center;
    }
}